<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans  
                            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
                            http://www.springframework.org/schema/context  
                            http://www.springframework.org/schema/context/spring-context-3.1.xsd  
                            http://www.springframework.org/schema/tx  
                            http://www.springframework.org/schema/tx/spring-tx-3.1.xsd  
                            http://www.springframework.org/schema/aop  
                            http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
                            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.irssolucoes" />
    
    <context:property-placeholder location="classpath:jdbc.properties" />
    
    <tx:jta-transaction-manager/>
    <tx:annotation-driven transaction-manager="transactionManager" />
    <!--<aop:aspectj-autoproxy />-->
    
    <!--<import resource="spring-security.xml" />-->
   
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test" />
        <property name="initialPoolSize" value="1" />
        <property name="minPoolSize" value="1" />
        <property name="maxPoolSize" value="3" />
        <property name="acquireIncrement" value="0" />
        <property name="idleConnectionTestPeriod" value="80" />
        <property name="acquireRetryDelay" value="180" />
        <property name="maxStatements" value="0" />
        <property name="properties">
            <props>
                <prop key="user">root</prop>
                <prop key="password">Senhas</prop>
            </props>
        </property>
    </bean>
    
    <bean id="jpaAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="generateDdl" value="false" />
        <property name="showSql" value="true" />
        <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect" />
    </bean>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="com.irssolucoes:TemplateCRUD:war:1.0-SNAPSHOT" />
        <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" />
        <property name="jpaVendorAdapter" ref="jpaAdapter"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
    
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />


</beans>
